<a href="https://colab.research.google.com/github/lpoggetto/aulas_machine_learning_FIAP/blob/main/trabalho_final_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# importando pacotes utilizados

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Importando os dados do trabalho
# https://raw.githubusercontent.com/lcbjrrr/QuantumF/main/credit%20-%20ok.csv

df = pd.read_csv('https://raw.githubusercontent.com/lcbjrrr/QuantumF/main/credit%20-%20ok.csv')

In [5]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529544,High_spent_Small_value_payments,312.4940887,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.2802216,Low_spent_Large_value_payments,284.6291625,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.69952126,Low_spent_Medium_value_payments,331.2098629,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580744,Low_spent_Small_value_payments,223.4513097,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.42015309,High_spent_Medium_value_payments,341.489231,Good

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83144 entries, 0 to 83143
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        83144 non-null  object
 1   Customer_ID               83144 non-null  object
 2   Month                     83144 non-null  object
 3   Name                      74822 non-null  object
 4   Age                       83144 non-null  object
 5   SSN                       83144 non-null  object
 6   Occupation                83144 non-null  object
 7   Annual_Income             83144 non-null  object
 8   Monthly_Inhand_Salary     70703 non-null  float64
 9   Num_Bank_Accounts         83144 non-null  int64
 10  Num_Credit_Card           83144 non-null  int64
 11  Interest_Rate             83144 non-null  int64
 12  Num_of_Loan               83144 non-null  object
 13  Type_of_Loan              73622 non-null  object
 14  Delay_from_due_date       83144 non-null  int64
 15  Num_of_Delayed_Payment    77339 non-null  object
 16  Changed_Credit_Limit      83144 non-null  object
 17  Num_Credit_Inquiries      81528 non-null  float64
 18  Credit_Mix                83144 non-null  object
 19  Outstanding_Debt          83144 non-null  object
 20  Credit_Utilization_Ratio  83144 non-null  float64
 21  Credit_History_Age        75659 non-null  object
 22  Payment_of_Min_Amount     83144 non-null  object
 23  Total_EMI_per_month       83144 non-null  float64
 24  Amount_invested_monthly   79455 non-null  object
 25  Payment_Behaviour         83144 non-null  object
 26  Monthly_Balance           82125 non-null  object
 27  Credit_Score              83144 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 17.8+ MB